*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.page-loading .loading-overlay {
	display: flex;
}

.loading-overlay {
	display: none;
}

.form-item {
	@apply dark:bg-dark-300 rounded-md;
}

// draggable element
.draggable-element {
	width: 100px;
	height: 100px;
	cursor: move;
}

.handle {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border: 1px solid #000;
}

.handle-nw {
	top: -5px;
	left: -5px;
	cursor: nw-resize;
}
.handle-n {
	top: -5px;
	left: 50%;
	transform: translateX(-50%);
	cursor: n-resize;
}
.handle-ne {
	top: -5px;
	right: -5px;
	cursor: ne-resize;
}
.handle-w {
	top: 50%;
	left: -5px;
	transform: translateY(-50%);
	cursor: w-resize;
}
.handle-e {
	top: 50%;
	right: -5px;
	transform: translateY(-50%);
	cursor: e-resize;
}
.handle-sw {
	bottom: -5px;
	left: -5px;
	cursor: sw-resize;
}
.handle-s {
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	cursor: s-resize;
}
.handle-se {
	bottom: -5px;
	right: -5px;
	cursor: se-resize;
}
.handle-rotate {
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
